html, body {
    height: 100%;
    margin: 0;
}

.bg
{
    background-color: #9B4E23;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    position: relative;
}

.gen-intro{
    text-align: center;
}
.title {
    color: #BDA88C;
}

.text1{
    margin: 0 !important;
}

.par > p{
    color: white;
    font-size: 18px;
}

.list{
    float: left;
    padding: 20px;
}

.list > img{
    width: 220px;
    height: 220px;  
}

.list > span{
    color: white;
}

.fes{
    color: white;
    text-decoration: none;
}
.fes:hover{
    text-decoration: none;
    color: white;
}

.fes:visited{
    text-decoration: none;
    color: white;
}
.story{
    width: 90%;
    background-color: #262323;
    height: 360px;
    padding: 5px;
}