
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 100px;
}

.logo > img{
    height: 40px;
}

.header {
    z-index: 4;
    position: fixed;
    margin: auto;
    width: 100%;
}
.menu{
    padding-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 12% !important; */
    flex: auto !important;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 20% !important; */
    /* margin: auto; */
}

.icon > img {
    width: 20px;
    height: 20px;
}

.right-bottom > i{
    font-size: 25px;
    color: #D2CBC3;
    display: block;
    padding: 15px 30px;
}

.right-bottom > img{
    height: 110px;
    display: block;
    margin: auto;
}

footer{
    position: fixed;
    padding: 7px;
    bottom: 0;
    right: 0;
    z-index: 99;
}

.header{
    transition: 0.2s;
    margin: auto !important;
}


.search-toggle {
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
  }
  .search-toggle::before, .search-toggle::after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .search-toggle::before {
    border: 2px solid #E7DFD5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
  }
  .search-toggle::after {
    height: 2px;
    width: 10px;
    background: #E7DFD5;
    top: 16px;
    left: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .search-toggle.active::before {
    width: 0;
    border-width: 1px;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 2px;
    left: 8px;
  }
  .search-toggle.active::after {
    width: 18px;
    left: 0px;
    top: 10px;
  }

  .search-icon{
      width: 15%;
  }

  .search-input {
    opacity: 0;
  }

  #header-1 .search-box {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 0;
    transition: all 0.3s;
    transform: translateY(-15%);
  }

  #header-1.show .search-box .search-input {
    opacity: 1;
  }

  #header-1.show .search-box {
    max-height: 40px;
    padding:5px 0;
  }

  .search-toggle1 {
    position: relative;
    display: block;
    height: 15px;
    width: 15px;
  }
  .search-toggle1::before, .search-toggle1::after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .search-toggle1::before {
    border: 2px solid #242220;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
  }
  .search-toggle1::after {
    height: 2px;
    width: 8px;
    background: #242220;
    top: 14px;
    left: 9px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .search-toggle1.active::before {
    width: 0;
    border-width: 1px;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 2px;
    left: 8px;
  }
  .search-toggle1.active::after {
    width: 15px;
    left: 2px;
    top: 9px;
  }

  .menu-nav{
    position: fixed;
    right: 50px;
    top: 50px;
    z-index: 10;
    display: none;
    color: #E3D7CC;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    /* background-color: #9B4E23; */
    background-color: rgba(201, 98, 43, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #254B4B;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  @media screen and (max-width: 1024px) {
    .menu-nav{
      display: block;
    }

    #nav {
      display: none;
    }
  }