html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
#main{
    position: relative;
    height: 100%;
}
.bg
{       
    background-image: url('../images/BG-01.png');
    background-color: #9B4E23;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: absolute;
}
.cover{
    height: 100%; 
    width: 100%;
    margin: auto !important;
}
.mid{
    position: absolute;
    top: 0;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 100px;
}

/* .logo > img{
    height: 40px;
} */

.header {
    z-index: 4;
    position: fixed;
    margin: auto;
    width: 100%;
}
.menu{
    padding-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 12% !important;
    flex: auto !important;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 20% !important; */
}

.right-bottom > i{
    font-size: 25px;
    color: #D2CBC3;
    display: block;
    padding: 15px 30px;
}

.right-bottom > img{
    height: 110px;
    display: block;
    margin: auto;
}

footer{
    position: fixed;
    padding: 7px;
    bottom: 0;
    right: 0;
    z-index: 4;
}
.fes1{
    position: absolute;
    top: 130px;
    width: 100%;
    z-index: 10;
}
.index > span {
    font-size: 70px;
}

.under{
    position: absolute;
    bottom: 0;
    right: 0;
}

.contain {
    position: relative;
    width: 85%;
    cursor: pointer;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #262323;
  }
  
  .contain:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    width: 20%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .search-toggle {
    position: relative;
    display: block;
    height: 18px;
    width: 18px;
  }
  .search-toggle::before, .search-toggle::after {
    content: '';
    position: absolute;
    display: block;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
  }
  .search-toggle::before {
    border: 2px solid #E7DFD5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
  }
  .search-toggle::after {
    height: 2px;
    width: 10px;
    background: #E7DFD5;
    top: 16px;
    left: 12px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .search-toggle.active::before {
    width: 0;
    border-width: 1px;
    border-radius: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 2px;
    left: 8px;
  }
  .search-toggle.active::after {
    width: 18px;
    left: 0px;
    top: 10px;
  }

  .search-icon{
      width: 15%;
  }

  .search-input {
    opacity: 0;
  }

  #header-1 .search-box {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 0;
    transition: all 0.3s;
    transform: translateY(-15%);
  }

  #header-1.show .search-box .search-input {
    opacity: 1;
  }

  #header-1.show .search-box {
    max-height: 40px;
    padding:5px 0;
  }
