html, body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
#main{
    position: relative;
    height: 100%;
}
.bg
{
    /* background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 200%;
    background-attachment: fixed; */
        
    background-image: url('../images/BG-01.png');
    background-color: #9B4E23;
    background-repeat: no-repeat;
    background-size: 160%;
    height: 100%;
    position: absolute;
}
.cover{
    height: 100%; 
    width: 100%;
    margin: auto !important;
}
.mid{
    position: absolute;
    top: 0;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 100px;
}

/* .logo > img{
    height: 40px;
} */

.header {
    z-index: 4;
}
.menu{
    padding-top: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 12% !important;
    flex: auto !important;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 20% !important; */
}

/* .icon > i{
    font-size: 20px;
    color: white;
    padding: 0px 20px;
    transition: 0.3s;
} */
  
/* .icon > i:hover{
    font-size: 33px;
} */

/* .icon > img {
    width: 20px;
    height: 20px;
} */

.right-bottom > i{
    font-size: 25px;
    color: #D2CBC3;
    display: block;
    padding: 15px 30px;
}

.right-bottom > img{
    height: 110px;
    display: block;
    margin: auto;
}

footer{
    position: fixed;
    padding: 7px;
    bottom: 0;
    right: 0;
    z-index: 4;
}

.content {
    position: relative;
    top: 130px;
    width: 100%;
}

.contain {
    position: relative;
    width: 20%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #262323;
  }
  
  .contain:hover .overlay {
    opacity: 0.9;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .btn{
    position: absolute;
    top: 65%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
    color: #9B4E23 !important;
    font-weight: 630 !important;
    margin-top: 10px;
    font-size: 13px !important;
    background-color: #CFB899 !important;
  }