@font-face {
    font-family: Hpdns;
    src: url(../font/HP\ DNS\ Gibsons\ One\ Semi\ Bold.otf);
    font-weight: bold;
}

html, body {
    height: 100%;
    margin: 0;
}

.bg
{
    background-color: #9B4E23;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 110%;
    background-attachment: fixed;
    position: absolute;
}

.bg-1
{       
    background-image: url('../images/BG-01.png');
    background-color: #9B4E23;
    background-repeat: repeat;
    background-size: 200%;  
    height: 110%; 
    position: absolute;
}

.content {
    position: relative;
    top: 130px;
    width: 100%;
}

.cover{
    height: 100%; 
    width: 100%;
    margin: auto !important;
}

.main{
    position: relative;
    height: 150%;
}

.header{
    z-index: 4;
}

.mid{
    position: absolute;
    top: 0;
    width: 100%;
}

.bg-title{
    width: 100%; 
    margin: 0 !important; 
}

.title{
    font-family: Hpdns;
    font-size: 65px;
    color: #D4CDC4;
}

.product {
    width: 100%; 
    margin: 0 !important; 
}

.infor{
    margin-top: auto;
    margin-bottom: auto;
    color: #D4CDC4;
}

.pro-title{   
    font-size: 30px;
    line-height: 0.2;
    font-weight: 300;
}
.pro-type{
    font-size: 22px;
    font-weight: 100;
}

.quality{
    margin: 0 !important;
}

.btn-quality{
    color: #9B4E23 !important;
    background-color: #D4CDC4 !important;
    /* font-size: 17px !important; */
    font-weight: 700 !important;
    width: 30px;
}

.total {
    font-weight: 700;
    font-size: 20px;
    text-align: right;
}

.txt-area{
    background-color: #D4CDC4 !important;
}

.order{
    width: auto !important;
    font-size: 20px !important;
    background-color: #CFB899 !important;
    color: #9B4E23 !important;
    font-weight: 630 !important;
    /* margin-top: 10px;
    width: 20%; */
}

.d-order{
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
}

.txt-total{
    color: #D4CDC4;
    font-weight: 600;
    font-size: 22px;
}